.message_pfp{
  border-radius: 30vw;
  width: 8vw;
  height:  8vw;
  font-weight: bold;
  font-size: 14px;
	background-color: #000000;
  position: relative;
  top: 10px;
}

.unb {
  padding: 1vw;
display: inline-block;
background-color: green;
  color: red;
border-color: darkgreen; 
border-radius: 50vw;
  font-size: 1vw;
  border-size: 1vw;
  align-self: auto;

}

.unb:hover {
  background-color: lightgreen;
  color: lightcoral;
  border-color: green; 
}
#untitle {
border-radius: 60vw;
 width: 63vw;
 height: 18vh;
margin: auto;
background-color: red;
  font-size: 40px;
text-align-verticle: center;
text-align: center;
    justify-content: center;
    align-items: center;
}

#untitle2 {
padding: 0;
border-radius: 10vw;
 width:   58vw;
 height: 8vh;
margin: auto;
background-color: red;
  font-size: 40px;

text-align: center;
}


body {
    /* https://www.color-hex.com/color/d3d3d3 */
    background-color: lightcoral; /*#f6f6f6, EBEBD3, fafafa*/

    font-weight: 900;
    border:none;
    overflow: hidden;
    animation: blur 0.5s ease-out;
  
  }
  *{
    color: green;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;


font-family: manofa-condensed,sans-serif;
font-weight: 300;
font-style: italic;
  }
  
  #title{
margin-bottom: 0;
  margin:10;
  padding:10;
display: block;
    color: lightgreen;/*EBEBD3, C5283D*/
    font-size: 6vw;
    letter-spacing: 0vw;
    user-select: none;
      
  }
#title2{
    text-align: center;
    color: lightgreen;/*EBEBD3, C5283D*/
    font-size: 2vw;
    display:block;
    user-select: none;
  }
  
   #join_container{
    width: 100%;
    height: 200px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    float: left;
    margin-top: 80px;
  
  }
  #join_inner_container{
    width: 50%;
    height: 100%;
  }
  #join_input_container{
    width: 100%;
    height: 50px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    float: left;
  }
  #join_input{
    width: 60%;
    height: 40px;
  
    color: white;
    font-family: Varela Round;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: Transparent;
    border-bottom: 2px dashed #1D3354;
  
  }
  #join_input:focus{
    box-shadow: 0 10px 30px -17px #1D3354;
  }
  #join_button_container{
    width: 100%;
    height: 50px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    float: left;
  }
  #join_button{
    width: 60%;
    height: 40px;
  
    font-family: Varela Round;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
  
#chat_container{
  background-color: lightcoral;
  width: 100%;
  height: 390px;

  display: flex;
  justify-content: center;

  float: left;
  margin-top: 40px;
  /* Fade in container */
  animation: fadeIn 1s linear;

}
#chat_inner_container{
  width: 40%;
  height: 100%;
}
#chat_content_container{
  
  width: 100%;
  height: 90%;

  float: left;
  overflow-y: auto;
  font-family: Varela Round;

  padding-left: 15px;
  padding-right: 15px;
}
#chat_input_container{
  width: 100%;
  height: 10%;

  float: left;
  border-bottom: 2px dashed #1D3354;
  background-color: Transparent;

  padding-left: 15px;
  padding-right: 15px;
  font-family: Varela Round;
  margin-top: 10px;
}
#chat_input_send{
 width: 3.5vw;
    height: 3.5vw;
    float: left;
    font-size: 18px;
  border-radius: 500px;
    background-color: black;
    background-image: url("https://cdn.glitch.me/aba0400a-da74-4a50-8c09-c6c68dbf722e%2Fsend.png?v=1637717846590");
  background-size: 2.9vw;
    text-align: right;
    color: #ccc;
}
#chat_input_send.enabled{
  color: white;
  background-color: gray;
  cursor: pointer;

}
#chat_logout_container{
  width: 100%;
  display: inline-block;

  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
  margin-top: 20px;
}
#chat_logout{
  color: #D64045;
  cursor: pointer;
}
#chat_logout:hover{
  text-decoration: underline;
}
.message_container{
  display: inline-block;
  margin-bottom: 20px;

}
.message_inner_container{
  width: 100%;
  display: inline-block;

    color: white;
}
.message_user_container{
  width: 100%;
  display: inline-block;
}
   .message_user{
  font-weight: bold;
  font-size: 20px;
  position: relative;
  left: 1vw;
  bottom: 3vw
}
.message_content_container{
  width: 100%;
  display: inline-block;

  white-space: pre-wrap;
  word-wrap: break-word;
}
.message_content{
  font-weight: normal;
  font-size: 18px;
  margin-top: 5px;
   position: relative;
  left: 9vw;
  bottom: 3vw;
  width: 278px;
}





.enabled{
  transition: background-color 0.5s;
  color: #fff;
  background-color: #D64045; /*#5B7553;*/
  cursor: pointer;
}
#title_container.chat_title_container{
  transition: 0.8s;
  transition-timing-function: ease-in-out;
  height: 100px;
}
#title.chat_title{
  transition: 0.8s;
  font-size: 47px;
}
.loader_container{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;

  border-top: 6px solid gray;
  border-bottom: 6px solid gray
  border-left: 6px solid white;
  border-right: 6px solid white
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
@keyframes blur {
  0% {filter: blur(5px);}
  100% {}
}
::selection {
  background-color: white;
  color: black;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: Darkgray;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}


button {
  padding: 1vw;
display: inline-block;
background-color: green;
  color: red;
border-color: darkgreen; 
border-radius: 50vw;
  font-size: 1vw;
  border-size: 1vw;
  align-self: auto;

}

button:hover {
  background-color: lightgreen;
  color: lightcoral;
  border-color: green; 
}

input {
  
display: inline-block;
background-color: lightgreen;
  color: green;
border-color: darkgray; 
border-radius: 50vw;
  font-size: 3w;
  border-size: 1vw;
  align-self: auto;
padding: 1vw;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
  padding: 0;
  border-radius: 50vw;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
  border: none;
  border-radius: 50vw;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
  padding: 0;
  border-radius: 50vw;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgreen;
  opacity: 1; /* Firefox */
}

#chat_input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgreen;
  opacity: 1; /* Firefox */
}

#chat_input{
  max: 10px;
  float: left;
  background-color: lightgreen;
  color: green;
  font-size: 15px;
}

input[type="file"] {
        font-size: 17px;
        color: #b8b8b8;
    visibility: hidden;
}

label{

  padding: 1vw;
display: inline-block;
background-color: green;
  color: red;
border-color: darkgreen; 
border-radius: 50vw;
  font-size: 1vw;
  border-size: 1vw;
  align-self: auto;

}